*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    background-color: aquamarine;
    flex-flow: row wrap;
    align-content: space-evenly;
    height: 400px;
}
.item{ 
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;   
}
