*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: lightgray;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
section{
    border-radius: 10px;   
    height: 250px;
    width: 250px;
    background-color: aquamarine;
    
}
h1,
label,input{
    margin: 10px;
}